 * {
    border: 1px solid magenta;
 }


// .grid {
//     display: grid;
//     grid-template-columns: minmax(250px, 300px) minmax(720px, 1440px) minmax(207px, 414px) minmax(250px, 300px);
//     grid-gap: 20px;

// }
img {
    width: 100%;
    height: auto;
}


// .left, .right{
//     &-panel {
//         background-color: red;
//     }
// }