* {
  /* border: 1px solid magenta; */
}

/* li {
  list-style: none;
} */

img {
  width: 100%;
  height: auto;
}


  .collection .collection-item {
    border-bottom: 1px solid #e0e0e0 !important;
  }

  
  .toast {
    background-color: #26a69a !important; }
  
  